.loading-overlay {
  display: none;
}

.height {
  height: 100vh;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #594e3c;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: blue;
}

div.pagination {
  padding: 20px;
  margin: 7px;
}
div.pagination a {
  margin: 2px;
  padding: 0.5em 0.64em 0.43em 0.64em;
  background-color: #594e3c;
  text-decoration: none;
  color: #fff;
}
div.pagination a:hover,
div.pagination a:active {
  padding: 0.5em 0.64em 0.43em 0.64em;
  margin: 2px;
  background-color: #594e3c;
  color: #fff;
}
div.pagination span.current {
  padding: 0.5em 0.64em 0.43em 0.64em;
  margin: 2px;
  background-color: #f6efcc;
  color: #6d643c;
}
div.pagination span.disabled {
  display: none;
}

.firstinfo,
.badgescard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-card-st {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.card-st {
  width: 100%;
  min-height: 100px;
  padding: 20px;
  border-radius: 0.45rem;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

@media (min-width: 750px) {
  .card-st:after {
    background: green;
  }
}
.card-st:after {
  content: "";
  display: block;
  width: 190px;
  height: 380px;
  background: #eeece9;
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

@media (max-width: 992px) and (min-width: 768px) {
  .card-st:after {
    width: 0px;
    height: 0px;
  }
}

@media (max-width: 430px) {
  .card-st:after {
    width: 0px;
    height: 0px;
  }
}

.badgescard-st {
  padding: 10px;
  margin-top: 25px;
  border-radius: 3px;
  background-color: #ececec;
  width: 100%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s
    forwards;
}
.badgescard-st span {
  font-size: 0.6em;
  margin: 0px 6px;
  opacity: 0.6;
}

.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}
.firstinfo img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.firstinfo .profileinfo {
  padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
  font-size: 1.8em;
}
.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: #009688;
  font-style: italic;
}
.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5a5a5a;
  line-height: 1.2;
  font-style: initial;
}

@media (max-width: 430px) {
  .img-card {
    display: none;
  }
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}

.container-gum {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-gum ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  background: #eeece9;
  box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.container-gum ul li {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 15px;
}
.container-gum ul li label {
  position: relative;
  cursor: pointer;
}
.container-gum ul li label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.container-gum ul li label :checked ~ .icon-box {
  box-shadow: inset -2px -2px 5px white, inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.container-gum ul li label :checked ~ .icon-box .fa {
  transform: scale(0.95);
}
.container-gum ul li label .icon-box {
  width: 90px;
  height: 60px;
  background: #eeece9;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.container-gum ul li label .icon-box .fa {
  font-size: 30px;
  color: #6a9bd8;
}

/*input search*/
#wrap {
  display: inline-block;
  position: relative;
  height: 60px;
  float: right;
  padding: 0;
  position: relative;
}

input[type="text"] {
  height: 60px;
  font-size: 35px;
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: #594e3c;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #594e3c;
}

input[type="text"]:focus {
  width: 250px;
  z-index: 1;
  border-bottom: 1px solid #594e3c;
  cursor: text;
}
input[type="submit"] {
  height: 57px;
  width: 53px;
  display: inline-block;
  color: red;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=)
    center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}
